@import url("./tailwind.css");
@import url("./layout.scss");

* {
  margin: 0;
  padding: 0;
  scrollbar-color: unset;
}

*:hover {
  scrollbar-color: unset;
}

html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

body::-webkit-scrollbar-thumb {
  background: oklch(var(--p));
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

body::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
